{% extends "Front/Blog/blog.html.twig" %}

{% block title %}{{ post.title }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
    </div>
    {% if not post.enabled %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i> Esborrany</div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {# left side #}
                {% if post.imageName %}
                    <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('750xY') }}" class="img-responsive extra-m-bottom" alt="{{ post.title }}">
                {% else %}
                    <img src="{{ asset('bundles/app/images/blog-head.png') | imagine_filter('750xY') }}" class="img-responsive extra-m-bottom" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
                {% endif %}
                <h1 class="c-violet no-m-top">{{ post.title }}</h1>
                <h6>{{ post.publishedAt | date('d/m/Y') }}{% if post.categories | length > 0 %}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.categories | join(', ') }}{% endif %}</h6>
                {{ post.description | raw }}<br><br><br>
            </div>
            <div class="col-sm-4">
                {# right side #}
                {% if categories | length > 0 %}
                    <div class="thumbnail blog-categories">
                        <div class="caption">
                            <h3 class="c-cyan">{{ 'frontend.blog.main.categories' | trans | upper }}</h3>
                            {% block categories %}
                                <ul class="list-unstyled">
                                    {% for category in categories %}
                                        {% if category.posts | length > 0 %}
                                            <li>
                                                <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
