{% extends 'Front/base.html.twig' %}

{% block title %}{{ 'frontend.layout.menu.blog' | trans | title }} · {{ parent() }}{% endblock %}

{% block menu %}
    {% include ':Front/Fragments:blog_menu.html.twig' %}
{% endblock %}

{% block main %}
    <div class="container">
        {%  include ':Front/Fragments:blog_heading_image.html.twig' %}
        <div class="row">
            <div class="col-xs-8">
                {# main right side #}
                {% for post in posts %}
                    <div class="thumbnail">
                        {% if post.imageName %}
                            <a href="{{ path('blog_detail', { year: post.publishedDate | date('Y'), month: post.publishedDate | date('m'), day: post.publishedDate | date('d'), slug: post.slug }) }}"><img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('700x200') }}" alt="{{ post.title }} thumbnail"></a>
                        {% endif %}
                        <div class="caption">
                            <h2 class="c-violet">{{ post.title }}</h2>
                            <h5>{{ post.publishedAt | date('d/m/Y') }}</h5>
                            {#{% if post.categories | length > 0 %}
                                {% for category in post.categories %}
                                    <span>{{ category.title }}</span>
                                {% endfor %}
                            {% endif %}#}
                            <p>{{ post.description | truncate(100) }}</p>
                            <a href="{{ path('blog_detail', { year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug }) }}" class="c-violet pull-right">{{ 'frontend.blog.main.keep_reading' | trans | upper }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-4">
                {# left side #}
                {% if categories | length > 0 %}
                    <div class="thumbnail blog-categories">
                        <div class="caption">
                            <h3 class="c-cyan">{{ 'frontend.blog.main.categories' | trans | upper }}</h3>
                            {% block categories %}
                                <ul class="list-unstyled">
                                    {% for category in categories %}
                                        {% if category.posts | length > 0 %}
                                            <li>
                                                <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
