{% extends 'Front/base.html.twig' %}

{% block title %}{{ post.title }} · {{ parent() }}{% endblock %}

{% block menu %}
    {% include ':Front/Fragments:blog_menu.html.twig' %}
{% endblock %}

{% block main %}
    <div class="container">
        {% if post.imageName %}
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('1200xY') }}" class="img-responsive extra-m-bottom" alt="{{ post.title }}">
                </div>
            </div>
        {% else %}
            {# TODO improve this contanier-fuild view #}
            {% include ':Front/Fragments:blog_heading_image.html.twig' %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h1 class="c-violet no-m-top">{{ post.title }}</h1>
                <h6>{{ post.publishedAt | date('d/m/Y') }}{% if post.categories | length > 0 %}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.categories | join(', ') }}{% endif %}</h6>
                {{ post.description | raw }}<br><br><br>
                {% for category in post.categories %}
                    <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
