{% extends 'Front/base.html.twig' %}

{% block title %}{{ post.title }} · {{ parent() }}{% endblock %}

{% block menu %}
    {% include ':Front/Fragments:blog_menu.html.twig' %}
{% endblock %}

{% block main %}
    <div class="container">
        {% include ':Front/Fragments:blog_heading_image.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ post.title }}</h1>
                <h5>{{ post.createdDate | date ('d/m/Y') }}</h5>
                <h5>{{ post.description | raw }}</h5>
                {% for category in post.categories %}
                    <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
