{% extends 'base.html.twig' %}

{% block title %}Post detail{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Detail of Post</h1>
                    <h3>{{ posts.title }}</h3>
                    <h5>{{ posts.createdDate | date ('d-m-Y')}}</h5>
                    <h5>{{ posts.description | truncate(150)}}</h5>
                    {% for category in posts.categories %}
                        <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
