<h1>Detall del mail</h1>
<p>La persona {{ contactEntity.name }} amb telefòn {{ contactEntity.phone }} , adreça de cooreu elèctronic {{ contactEntity.email }} va enviar el següent missatge " {{ contactEntity.message }} " amb data {{ contactEntity.date |date('d/m/Y') }}</p>