{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('bundles/app/images/head.jpg') }}" class="img-responsive" alt="imatge principal pas a repas">
            </div>
        </div>
        <div id="courses" class="courses text-center row">
            <div class="col-md-12">
                <h2>CLASSES DE REPÀS</h2>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#">Primària</a></li>
                    <li role="presentation"><a href="#">ESO</a></li>
                    <li role="presentation"><a href="#">Batxillerat</a></li>
                    <li role="presentation"><a href="#">Selectivitat</a></li>
                    <li role="presentation"><a href="#">Universitat</a></li>
                </ul>
            </div>
        </div>
        <div id="about" class="about text-center row">
            <div class="col-md-12">
                <h2>SOBRE MI</h2>
                <p>{{ sentences(4) }}</p>
            </div>
        </div>
        <div id="contact" class="contact text-center row">
            <div class="col-md-12">
                <h2>CONTACTE</h2>
                <p>{{ sentences(2) }}</p>
                <div class="form_row">
                    <div class="col-md-6">
                        {{ form(contactForm) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="location" class="location text-center row">
            <div class="col-md-12">
                <h2>LOCALITZACIÓ</h2>
                <div class="container">
                        {{ google_map(mapView) }}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
