{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('bundles/app/images/head.jpg') }}" class="img-responsive" alt="imatge principal pas a repas">
            </div>
        </div>
        <div id="courses" class="courses text-center row">
            <div class="col-md-12">
                <h2>{{ 'frontend.layout.menu.courses' | trans }}</h2>
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#"><i class="icon-pencil"></i> Primària</a></li>
                    <li role="presentation"><a href="#"><i class="icon-ruler"></i> ESO</a></li>
                    <li role="presentation"><a href="#"><i class="icon-book"></i> Batxillerat</a></li>
                    <li role="presentation"><a href="#"><i class="icon-check"></i> Selectivitat</a></li>
                    <li role="presentation"><a href="#"><i class="icon-hat"></i> Universitat</a></li>
                </ul>
            </div>
        </div>
        <div id="about" class="about text-center row">
            <div class="col-md-12">
                <h2>{{ 'frontend.layout.menu.about' | trans }}</h2>
                <p>{{ sentences(4) }}</p>
            </div>
        </div>
        <div id="contact" class="contact text-center row">
            <div class="col-md-12">
                <h2>{{ 'frontend.layout.menu.contact' | trans }}</h2>
                <p>{{ sentences(2) }}</p>
                <div class="form_row">
                    <div class="col-md-6">
                        {{ form(contactForm) }}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="location" class="location text-center row">
            <div class="col-md-12">
                <h2>{{ 'frontend.layout.menu.location' | trans }}</h2>
                <div class="container">
                        {{ google_map(mapView) }}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
