{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('bundles/app/images/head.jpg') }}" class="img-responsive" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
            </div>
        </div>
        <div id="classes-de-repas" class="row">
            <div class="col-md-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.courses' | trans | upper }}</h2>
                {#<!-- Nav tabs -->#}
                <div class="navbar">
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#primaria" class="c-magenta" aria-controls="primaria" role="tab" data-toggle="tab"><i class="icon-pencil fa-3x"></i><br>{{ 'frontend.index.courses.primary' | trans | upper }}</a></li>
                        <li role="presentation"><a href="#eso" class="c-wine" aria-controls="eso" role="tab" data-toggle="tab"><i class="icon-ruler fa-3x"></i><br>{{ 'frontend.index.courses.eso' | trans | upper }}</a></li>
                        <li role="presentation"><a href="#batxillerat" class="c-violet" aria-controls="batxillerat" role="tab" data-toggle="tab"><i class="icon-book fa-3x"></i><br>{{ 'frontend.index.courses.school' | trans | upper }}</a></li>
                        <li role="presentation"><a href="#selectivitat" class="c-lviolet" aria-controls="selectivitat" role="tab" data-toggle="tab"><i class="icon-check fa-3x"></i><br>{{ 'frontend.index.courses.selectivity' | trans | upper }}</a></li>
                        <li role="presentation"><a href="#universitat" class="c-cyan" aria-controls="universitat" role="tab" data-toggle="tab"><i class="icon-hat fa-3x"></i><br>{{ 'frontend.index.courses.university' | trans | upper }}</a></li>
                    </ul>
                </div>
                {#<!-- Tab panes -->#}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active bc-magenta" id="primaria">
                        <div class="row">
                            <div class="col-sm-5">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/c1-primary.jpg') }}" alt="{# TODO set alt img #}"/>
                            </div>
                            <div class="col-sm-7 text-center c-white">
                                {{ paragraphs(1) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bc-wine" id="eso">
                        <div class="row">
                            <div class="col-sm-7 text-center c-white">
                                {{ paragraphs(1) }}
                            </div>
                            <div class="col-sm-5">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/c2-eso.jpg') }}" alt="{# TODO set alt img #}"/>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bc-violet" id="batxillerat">
                        <div class="row">
                            <div class="col-sm-5">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/c3-school.jpg') }}" alt="{# TODO set alt img #}"/>
                            </div>
                            <div class="col-sm-7 text-center c-white">
                                {{ paragraphs(1) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bc-lviolet" id="selectivitat">
                        <div class="row">
                            <div class="col-sm-7 text-center c-white">
                                {{ paragraphs(1) }}
                            </div>
                            <div class="col-sm-5">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/c4-selectivity.jpg') }}" alt="{# TODO set alt img #}"/>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bc-cyan" id="universitat">
                        <div class="row">
                            <div class="col-sm-5">
                                <img class="img-responsive" src="{{ asset('bundles/app/images/c5-university.jpg') }}" alt="{# TODO set alt img #}"/>
                            </div>
                            <div class="col-sm-7 text-center c-white">
                                {{ paragraphs(1) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sobre-mi" class="row">
            <div class="col-md-12">
                <h2 class="my-h2 c-white text-center">{{ 'frontend.layout.menu.about' | trans | upper }}</h2>
                <p class="text-center">{{ sentences(4) }}</p>
            </div>
        </div>
        <div id="contacte" class="row">
            <div class="col-md-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.contact' | trans | upper }}</h2>
                <p class="text-center">{{ sentences(2) }}</p>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4">
                            {{ form_errors(contactForm) }}
                            {{ form_row(contactForm.name) }}
                            {{ form_row(contactForm.email) }}
                            {{ form_row(contactForm.phone) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_row(contactForm.message) }}
                            {{ form_rest(contactForm) }}
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
        <div id="localitzacio" class="row">
            <div class="col-md-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.location' | trans | upper }}</h2>
                <div class="google-maps-container">
                    {{ google_map(mapView) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
