{% extends 'Admin/base_admin.html.twig' %}

{% block main -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'frontend.layout.menu.contact' | trans | upper }}</h1>

                <table class="table table-hover table-bordered record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.index.contact.form.name' |trans |capitalize }}</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.index.contact.form.email' |trans |capitalize }}</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.index.contact.form.phone' |trans |capitalize }}</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.index.contact.form.message' |trans |capitalize }}</th>
                        <td>{{ entity.message }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.admin.date' |trans |capitalize }}</th>
                        <td>{{ entity.date|date('d-m-Y') }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('contact') }}">
                            {{ 'frontend.admin.back-list' |trans |capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
