{% extends 'base.html.twig' %}

{% block main -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>POST</h1>

                <table class="table table-hover table-bordered record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.admin.created-date' |trans |capitalize }}</th>
                        <td>{{ entity.createdDate|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{  'frontend.admin.published-date' |trans |capitalize }}</th>
                        <td>{{ entity.publishedDate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.admin.title' |trans |capitalize }}</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ entity.slug }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.admin.description' |trans |capitalize }}</th>
                        <td>{{ entity.description }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'frontend.admin.enabled' |trans |capitalize }}</th>
                        <td>{{ entity.enabled }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_post') }}">
                            {{ 'frontend.admin.back-list' |trans |capitalize }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">
                            {{ 'frontend.admin.edit' |trans |capitalize }}
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
