<div class="navbar-collapse collapse float-right">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="{{ path('blog') }}">{{ 'frontend.layout.menu.blog' | trans | upper }}</a></li>
    </ul>
</div>
<div id="navbar" class="navbar-collapse collapse float-right">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('homepage') }}#classes-de-repas">{{ 'frontend.layout.menu.courses' | trans | upper }}</a></li>
        <li><a href="{{ path('homepage') }}#sobre-mi">{{ 'frontend.layout.menu.about' | trans | upper }}</a></li>
        <li><a href="{{ path('homepage') }}#contacte">{{ 'frontend.layout.menu.contact' | trans | upper }}</a></li>
        {#<li><a href="{{ path('homepage') }}#localitzacio">{{ 'frontend.layout.menu.location' | trans | upper }}</a></li>#}
    </ul>
</div>
