{% extends 'Front/base.html.twig' %}

{% form_theme contactForm _self %}

{% block _contact_send_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="submit" {{ block('button_attributes') }}><span class="hack">{{ label|trans({}, translation_domain) }}</span> <i class="fa icon-arrow-right" style="float:right;margin: 3px 0 0 7px;"></i></button>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row bc-brown">
            <div class="text-center">
                <img src="{{ asset('bundles/app/images/head.jpg') | imagine_filter('2400xY') }}" class="img-responsive" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="classes-de-repas" class="row">
            <div class="col-xs-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.courses' | trans | upper }}</h2>
                {#<!-- Nav tabs -->#}
                <div class="navbar no-m-bottom">
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#primaria" class="c-magenta" aria-controls="primaria" role="tab" data-toggle="tab"><i class="icon-pencil fa-4x"></i>{{ 'frontend.index.courses.primary' | trans | upper }}<i class="current-mark icon-arrow fa-3x"></i></a></li>
                        <li role="presentation"><a href="#eso" class="c-wine" aria-controls="eso" role="tab" data-toggle="tab"><i class="icon-ruler fa-4x"></i>{{ 'frontend.index.courses.eso' | trans | upper }}<i class="current-mark icon-arrow fa-3x"></i></a></li>
                        <li role="presentation"><a href="#batxillerat" class="c-violet" aria-controls="batxillerat" role="tab" data-toggle="tab"><i class="icon-book fa-4x"></i>{{ 'frontend.index.courses.school' | trans | upper }}<i class="current-mark icon-arrow fa-3x"></i></a></li>
                        <li role="presentation"><a href="#selectivitat" class="c-lviolet" aria-controls="selectivitat" role="tab" data-toggle="tab"><i class="icon-check fa-4x"></i>{{ 'frontend.index.courses.selectivity' | trans | upper }}<i class="current-mark icon-arrow fa-3x"></i></a></li>
                        <li role="presentation"><a href="#universitat" class="c-cyan" aria-controls="universitat" role="tab" data-toggle="tab"><i class="icon-hat fa-4x"></i>{{ 'frontend.index.courses.university' | trans | upper }}<i class="current-mark icon-arrow fa-3x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {#<!-- Tab panes -->#}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in bc-magenta active" id="primaria">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/c1-primary.jpg') }}" alt="heart shape lovely girls and colors zenit"/>
                        </div>
                        <div class="col-sm-7 c-white">
                            <div class="banner-service">
                                <h3 class="no-m-top">{{ 'frontend.index.courses.primary' | trans | upper }}</h3>
                                {{ 'frontend.index.primary_txt' | trans | raw }}
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade bc-wine" id="eso">
                    <div class="row">
                        <div class="col-sm-7 c-white">
                            <div class="banner-service">
                                <h3 class="no-m-top">{{ 'frontend.index.courses.eso' | trans | upper }}</h3>
                                {{ 'frontend.index.eso_txt' | trans | raw }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/c2-eso.jpg') }}" alt="teacher and student boys on a colorful background"/>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade bc-violet" id="batxillerat">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/c3-school.jpg') }}" alt="student making maths on chalkboard"/>
                        </div>
                        <div class="col-sm-7 c-white">
                            <div class="banner-service">
                                <h3 class="no-m-top">{{ 'frontend.index.courses.school' | trans | upper }}</h3>
                                {{ 'frontend.index.sc_school' | trans | raw  }}
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade bc-lviolet" id="selectivitat">
                    <div class="row">
                        <div class="col-sm-7 c-white">
                            <div class="banner-service">
                                <h3 class="no-m-top">{{ 'frontend.index.courses.selectivity' | trans | upper }}</h3>
                                <p>{{ 'frontend.index.selectivity_txt' | trans | raw }}</p>
                                <ul>
                                    <li>{{ 'frontend.index.selectivity_list.pau' | trans }}</li>
                                    <li>{{ 'frontend.index.selectivity_list.pacfs' | trans }}</li>
                                    <li>{{ 'frontend.index.selectivity_list.pacfm' | trans }}</li>
                                    <li>{{ 'frontend.index.selectivity_list.pau25' | trans }}</li>
                                    <li>{{ 'frontend.index.selectivity_list.cc' | trans }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/c4-selectivity.jpg') }}" alt="a shiny maths book over a dark background"/>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade bc-cyan" id="universitat">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/c5-university.jpg') }}" alt="pretty girl smiling with laptop in a classroom"/>
                        </div>
                        <div class="col-sm-7 c-white">
                            <div class="banner-service">
                                <h3 class="no-m-top">{{ 'frontend.index.courses.university' | trans | upper }}</h3>
                                {{ 'frontend.index.university_txt' | trans | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="sobre-mi" class="row bc-lbrown">
            <div class="col-xs-12 no-h-padding">
                <img src="{{ asset('bundles/app/images/about.jpg') | imagine_filter('2400xY') }}" class="img-responsive" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
                <div class="my-carousel-caption">
                    <h2 class="my-h2 c-white text-center">{{ 'frontend.layout.menu.about' | trans | upper }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row bc-grey">
            <div class="col-xs-12">
                <p class="c-white banner-service">{{ 'frontend.index.about_mi' | trans | raw }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="contacte" class="row extra-m-bottom">
            <div class="col-md-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.contact' | trans | upper }}</h2>
                <p class="text-center contacte">
                    {{ 'frontend.index.contact.msg1' | trans }}<br>
                    {{ 'frontend.index.contact.msg2' | trans }}
                </p>
                {% if flash is not null %}
                    <div class="row">
                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-10">
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="fa fa-paper-plane-o"></i> {{ flash | trans }}
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-1"></div>
                    </div>
                {% endif %}
                {{ form_start(contactForm) }}
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"></div>
                        <div class="col-sm-4 col-xs-6">
                            {{ form_errors(contactForm) }}
                            {{ form_row(contactForm.name) }}
                            {{ form_row(contactForm.email) }}
                            {{ form_row(contactForm.phone) }}
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            {{ form_row(contactForm.message) }}
                            {{ form_row(contactForm.send) }}
                            {{ form_rest(contactForm) }}
                        </div>
                        <div class="col-sm-2 hidden-xs"></div>
                    </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="localitzacio" class="row">
            {#<h2 class="my-h2 text-center">{{ 'frontend.layout.menu.location' | trans | upper }}</h2>#}
            <div class="google-maps-container">
                {{ google_map(mapView) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var offset = 90;
            jQuery('div#navbar li a').click(function(event) {
                event.preventDefault();
                jQuery(jQuery(this).attr('href'))[0].scrollIntoView();
                scrollBy(0, -offset);
            });
            var errorNode = jQuery(".has-error");
            var envelopeNode = jQuery(".fa-paper-plane-o");
            if (errorNode.length > 0) {
                jQuery('html,body').animate({scrollTop: errorNode.offset().top - 200}, "slow");
            }
            if (envelopeNode.length > 0) {
                jQuery('html,body').animate({scrollTop: envelopeNode.offset().top - 200}, "slow");
            }
        });
    </script>
{% endblock %}
