{% extends 'base.html.twig' %}

{% block main -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Contact list</h1>

                <table class="table table-hover records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{ 'frontend.admin.contact.index.name' |trans |capitalize }}</th>
                        <th>{{ 'frontend.admin.contact.index.email' |trans |capitalize }}</th>
                        <th>{{ 'frontend.admin.contact.index.phone' |trans |capitalize }}</th>
                        <th>{{ 'frontend.admin.contact.index.message' |trans |capitalize }}</th>
                        <th>{{ 'frontend.admin.contact.index.date' |trans |capitalize }}</th>
                        <th>{{ 'frontend.admin.contact.index.actions' |trans |capitalize }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.phone }}</td>
                            <td>{{ entity.message }}</td>
                            <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('contact_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
